bz2file==0.98
joblib==1.2.0
lightgbm==3.3.1
mmh3==3.0.0
numpy==1.23.4
pandas==1.5.1
python-dateutil==2.8.2
pytz==2022.5
scikit-learn==1.1.2
scipy==1.9.2
screed==1.0.5
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
xgboost==1.6.2
